{
	"widgettype":"Menu",
	"options":{
		"target":"workarea",
		"bgcolor":"#ededed",
		"items":[
			{
				"name":"file",
				"label":"File",
				"items":[
					{
						"name":"test1"
					},
					{
						"name":"test2"
					}
				]
			},
			{
				"name":"edit",
				"label":"Edit",
				"url":"lllll"
			}
		]
	}
}
