{
	"widgettype":"VBox";
	"options":{},
	"subwidgets":[
		{
			"widgettype":"Title1",
			"options":{
				"otext":"Title1",
				"i18n":true
			}
		},
		{
			"widgettype":"Text",
			"options":{
				"otext":"Text 1",
				"i18n":true
			}
		}
	]
}

